<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Document</title>
</head>
<body>
    
    <h1>Lista magazine</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Store</th>
            <th>Street</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>

        <% for (var i=0; i < rows.length; i++) { %>
            <tr>
            <td><%= rows[i].id %></td>
            <td><%= rows[i].name %></td>
            <td><%= rows[i].street %></td>
            <td><%= rows[i].latitude %></td>
            <td><%= rows[i].longitude %></td>
            <td>
                <button class="btn btn-primary">
                    <a href="edit/<%= rows[i].id %>">Edit</a>
                </button>
                
                <button class="btn btn-danger">
                    <a href="delete/<%= rows[i].id %>">Delete</a>
                </button>
            </td>
            </tr>
        <% }; %>  

        

    </table>

</body>
</html>